@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

*{
  font-family: 'Mulish', sans-serif;
}

:root{
  --primary-color:#FF5400;
}


/* Nav Bar Design */

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left:200px;
  margin-right:200px;
}

.swift{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swift-img{
  margin-right:17px;
  width: 48px;
  height: 56.008px; 
}

nav > ul{
  display:flex;
}

nav li{
  text-align: center;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  margin-left:30px;
}

nav a{
  text-decoration:none;
  color: #424247;
}

.span-tag{
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}

.swift-title{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.home-span{
  color:var(--primary-color);
}

.hamburger{
  display: none;
}


/* Header Section Design */


.explore{
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), 

  url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-repeat:no-repeat;
  background-size:cover;
  margin:auto;
  width: 1470px;
  height: 700px;
  margin-top:50px;
  margin-bottom:100px;

}

.travel-title{
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
  margin-top:200px;
  margin-bottom:80px;
}

.travel{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.select{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top:0;
  margin-bottom:106px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  width:800px;
  height:80px;
}

.selected{
  display:flex;
  align-items: center;
  justify-content: center;
}

.travel-description{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width: 676px;
  margin-top:0;
  margin-bottom:100px;
}

.first{
  border-radius: 8px;
  background: #FFF;
  color: rgba(19, 19, 24, 0.50);
  padding-top:17px;
  padding-bottom:17px;
  padding-right:40px;
  padding-left:40px;
}

.first:hover{
  cursor:pointer;
}

.second1{
  border-radius: 8px;
  background: #FFF;
  color: rgba(19, 19, 24, 0.50);
  padding-left:10px;
  padding-right:10px;
  display: flex;
  justify-content: space-between;
  gap:60px;
}

.second1:hover{
  cursor:pointer;
}

.second2{
  border-radius: 8px;
  background: #FFF;
  color: rgba(19, 19, 24, 0.50);
  padding-left:10px;
  padding-right:10px;
  display: flex;
  justify-content: space-between;
  gap:35px;
}

.second2:hover{
  cursor:pointer;
}

.find{
  background-color:var(--primary-color);
  border:none;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:40px;
  padding-left:40px;
  border-radius:8px;
  color:white;
  font-weight:700;
  font-size:16px;
  text-align:center;
  cursor:pointer;
  transition:box-shadow 0.3s, transform 0.3s;
}

.find:hover{
  box-shadow: 0 0 8px #FF5400;
  transform:scale(1.1);
}

/* Main Part design */


.popular{
  display:flex;
  margin-right:200px;
  margin-left:200px;
  justify-content: space-between;
  margin-bottom:100px;
}

.popular-title{
  color: #131318;
  margin-bottom:24px;
  font-size: 40px;
  font-weight: 800;

}

.popular-description{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width:577px;
}

.popular-list{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width:525px;
  margin-bottom:16px;
}

.popular-description2{
  color: #5A5A5D;
  font-size: 16px;
  margin-top:8px;
  margin-bottom:32px;
  font-weight: 400;
  line-height: 26px; 
  width:530px;
}

.popular-image{
  width: 540px;
  height: 550px;

}

.read{
  background-color:var(--primary-color);
  border:none;
  border-radius:8px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding:9px 25px;
  cursor:pointer;
  transition:transform 0.3s, box-shadow 0.3s;
}

.read:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px #FF5400;
}


/* Another Main Part Design */



.destination{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-left:200px;
  margin-right:200px;
  margin-bottom:100px;
}

.destination-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom:24px;
}


.destination-description{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width: 643px;
}





 .flex1{
  display:flex;
  gap:24px;
  margin-bottom:24px;
}

.country-name{
  display: flex;
  margin-top:130px;
  justify-content: center;
  color:white;
  font-weight: 800;
  font-size: 28px;
}

  

.pic1{
  background-image:url('../Images/Rectangle\ 5.png');
  object-fit:cover;
  width: 573px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic1:hover{
  transform: scale(1.1);
}

.pic2{
  background-image:url('../Images/Rectangle\ 8.png');
  object-fit:cover;
  width: 573px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic2:hover{
  transform: scale(1.1);
}



.flex2{
 display:flex;
 gap:24px;
 margin-bottom:24px;
}

.pic3{
  background-image:url('../Images/Rectangle\ 6.png');
  object-fit:cover;
  width: 374px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic3:hover{
  transform: scale(1.1);
}


.pic4{
  background-image:url('../Images/Rectangle\ 7.png');
  object-fit:cover;
  width: 474px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic4:hover{
  transform: scale(1.1);
}


.pic5{
  background-image:url('..//Images/Rectangle\ 9.png');
  object-fit:cover;
  width: 274px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic5:hover{
  transform: scale(1.1);
}



.flex3{
  display:flex;
  gap:24px;
 }

 .pic6{
  background-image:url('../Images/Rectangle\ 11.png');
  object-fit:cover;
  width: 474px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic6:hover{
  transform: scale(1.1);
}

.pic7{
  background-image:url('../Images/Rectangle\ 10.png');
  object-fit:cover;
  width: 673px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic7:hover{
  transform: scale(1.1);
}


/* Another Design */

.choose{
  display: flex;
  flex-direction:column;
  margin-right:200px;
  margin-left:200px;
  align-items: center;
  justify-content: center;
  margin-bottom:132px;
}

.choose-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom:24px;
}

.choose-description{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width:643px;
  margin-bottom:48px;
}

.double{
  display: flex;
  gap:24px;
  margin-bottom:24px;
}

.single{
  display: flex;
  align-items: center;
  justify-content: center;
}



.hotel{
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
  padding:30px;
}

.map{
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  width: 573px;
  height: 284px;
  padding:30px;
}

.price{
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  width: 573px;
  height: 284px;
  padding:30px;
}


.price-title{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom:16px;
}

.price-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 486px;
}

/* Another part design */









@media screen and (max-width:600px) {

  /* Heading Part Mobile View */
    nav{
      margin-left:20px;
      margin-right:20px;
     
    }

    .swift-img{
      margin-right:17px;
      width: 29px;
      height: 33px; 
    }

    .swift-title{
      color: #131318;
      font-size: 21.543px;
      font-weight: 800;
    }

    .span-tag{
      font-size: 21px;
     
    }

    nav > ul{
      display:none;
    }

    .explore{ 
      margin-left:20px;
      margin-right:auto;
      width: 90%;
      height: 483px;
      border-radius:16px;
      margin-top:17px;
      margin-bottom:24px;
    }

    .travel-title{
      font-size: 22px;
      margin-top:32px;
      margin-bottom:8px;
    }

    .travel-description{
      font-size: 14px;
      line-height: 21px; 
      width: 304px;
      margin-bottom:32px;
    }

    .select{
      flex-direction:column;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom:32px;
      border-radius: 8px;
      padding:16px;
      width:287px;
      height:260px;
    }

    .first{
      padding-left:10px;
      padding-right:182px;  
    }

    .second1{
      padding-right:22px;
      gap:183px;
    }

    .second2{
      padding-right:22px; 
      gap:145px;
    }

    .find{

      padding-left:90px;
      padding-right:97px;
    }

    .hamburger{
      display:flex;
      
    }

    /* Main Part Mobile view */

    .popular{
      flex-direction:column;
      margin-right:20px;
      margin-left:20px;
      margin-bottom:24px;
    }

    .popular-title{
      margin-bottom:16px;
      font-size: 20px;
    }

    .popular-description{
      font-size: 14px;

      line-height: 24px; 
      width:380px;
    }

    .popular-list{
      font-size: 14px;
      line-height: 24px; 
      width:335px;
      margin-bottom:12px;
    }

    .popular-description2{
  
      font-size: 14px;
      margin-top:4px;
      margin-bottom:24px;
      line-height: 24px; 
      width:380px;
    }

    .popular-image{
      width: 380px;
      height: 342px;
      display: flex;
      margin:auto;
    }

    .read{
      margin-bottom:24px;
      font-size: 18px;
      padding:8px 20px;
    }

    /* Another part design */

    .destination{
      margin-left:20px;
      margin-right:20px;
      margin-bottom:24px;
    }

    .destination-title{
      font-size: 20px;
      margin-bottom:16px;
      width:239px;
    }

    .destination-description{
      font-size: 14px;
      line-height: 24px; 
      width: 330px;
    }

    .flex1{
      flex-direction:column;
     
    }
    .flex2{
      flex-direction:column;
      
    }
    .flex3{
      flex-direction:column;
     
    }

    .pic1{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic2{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic3{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic4{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic5{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic6{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }
    .pic7{
      width: 335px;
      height: 176px;
      border-radius:16px;
    }

    .country-name{
   
      margin-top:90px;


      font-weight: 700;
      font-size: 20px;
    }

    /* Another part design */

    .choose{
      margin-right:20px;
      margin-left:20px;
      margin-bottom:24px;
    }

    

    .choose-title{
      font-size: 20px;
      margin-bottom:16px;
    }

    .choose-description{
      font-size: 14px;
      line-height: 24px; 
      width:309px;
      margin-bottom:16px;
    }

    .double{
      flex-direction:column;
      margin-bottom:16px;
    }

    .hotel{
      border-radius: 16px;
      width: 335px;
      height: 289px;
      padding:15px;
      margin:auto;
    }

    .map{
      border-radius: 16px;
      width: 335px;
      height: 289px;
      padding:15px;
      margin:auto;
    }

    .price{
      border-radius: 16px;
      width: 335px;
      height: 289px;
      padding:15px;
      margin:auto;
      margin-top:10px;
    }


    .price-title{
      font-size: 20px;
    }


    .price-description{
      font-size: 14px;
      line-height: 24px;
      width: 271px;
    }

}